* {
    font-family: Adwaita-Mono;
    border: none;
    color: #d0cfcc;
    font-weight: bold;
}
    
#waybar {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 15px;
}

.modules-center {
	background-color: #333333;
	border-radius: 11px;
}

#custom-launcher {
	font-size: 24px;
	padding-left: 15px;
	background-color: #d0cfcc;
	border-radius: 11px 0px 0px 11px;
	
}

#custom-distro {
	margin-right: 5px;
        background-color: #d0cfcc;
	padding-right: 15px;
	border-radius: 0px 11px 11px 0px;
}

#user {
	background-color: #333333;
	margin-right: 5px;
	border-radius: 11px;
	padding-left: 15px;
	padding-right: 15px;
}

#cpu {
        background-color: #333333;
	padding-left: 15px;
        padding-right: 20px;
	border-radius: 11px 0px 0px 11px;
}

#temperature {
        background-color: #333333;
	padding-right: 20px;
}

#memory {
	background-color: #333333;
	padding-right: 20px;
}

#disk {
	padding-right: 15px;
	background-color: #333333;
	border-radius: 0px 11px 11px 0px;
}

#workspaces button label {
        color: #666666;
}

#workspaces button.active label { 
        color: #d0cfcc;
}

#workspaces button {
	background: rgba(0, 0, 0, 0);
}

#workspaces button:hover {
	box-shadow: none;
}

#bluetooth {
	margin-right: 5px;
	background-color: #333333;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 11px;
}

#pulseaudio {
        background-color: #333333;
        padding-right: 20px;
	border-radius: 11px 0px 0px 11px;
	padding-left: 15px;
}

#network {
        background-color: #333333;
        padding-right: 20px;
}

#battery {
        background-color: #333333;
        padding-right: 20px;
	padding-right: 15px;
}

#battery.warning {
        background-color: #333333;
        padding-right: 20px;
	color: #f8c914;
	padding-right: 15px;
}

#battery.critical {
        background-color: #333333;
        padding-right: 20px;
	color: #fc3c2f;
	padding-right: 15px;
}

#battery.charging {
        background-color: #333333;
        color: #37c35a;
        padding-right: 15px;
}

#clock {
        background-color: #333333;
	border-radius: 0px 11px 11px 0px;
	padding-right: 15px;
}

#custom-power {
	margin-left: 5px;
	background-color: #d0cfcc;
	padding-left: 12px;
	padding-right: 15px;
	border-radius: 11px;
}
