* {
    font-family: ttf-adwaita-mono-nerd;
    border: none;
    color: #d0cfcc;
    font-weight: bold;
}
    
#waybar {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
}

.modules-left,
.modules-center,
.modules-right {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 11px;
	margin: 4px;
}

#custom-launcher {
	font-size: 24px;
	color: #1793d1;
	margin-left: 15px;
}

#disk {
	margin-right: 15px;
}

#workspaces button {
	background: rgba(0, 0, 0, 0);
	border-radius: 15px;
	margin-right: 3px;
}

#workspaces button:hover {
	box-shadow: none;
}

#bluetooth {
	margin-left: 15px;
}

#battery.warning {
	color: #f8c914;
}

#battery.critical {
	color: #fc3c2f;
}

#battery.charging {
	color: #37c35a;
}

#clock {
	margin-right: 15px;
}
